@import "reset.css";

body {
  font-family: monospace;
  background-color: #2B2B2B;
  color: #fff;
  line-height: 1.2em;
}

.tab-header {
  color: #fff;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &.selected {
  }
}

.transformation {
  online:  1px #555 solid;
}

.ide-breadcrumbs {
  color: #fff;
  background-color: #313335;
  border-bottom: 1px #555 solid;
}

.react-tabs [role=tablist] {
  margin-bottom: 0;
}

.toggle {
  position: absolute;
  left: 0;
  height: 12px;
  width: 12px;
  line-height: 7px;
}

.ide-json {
  float: left;
  width: 50%;
}

.ide-transformations {
  width: 50%;
  float: right;
}

.json-branch {
  ul {
    list-style: none;
    margin-left: 20px;
  }
  &.hidden ul {
    display: none;
  }
}

.json-bracket {
  color: #fff;
}

.json-key {
  color: #9876AA;
  &.hovered {
    text-decoration: underline;
  }
}

.json-punctuation, .json-keyword, .json-boolean {
  color: #CC7832;
}

.json-number {
  color: #6897BB;
}

.json-string {
  color: #6A8769
}