@import "reset.css";

body {
  font-family: monospace;
  background-color: #2B2B2B;
  line-height: 1.2em;
}

.breadcrumbes {
  height: 2em;
}

.toggle {
  position: absolute;
  left: 0;
  height: 12px;
  width: 12px;
  line-height: 7px;
}

.json-branch {
  ul {
    list-style: none;
  }
  margin-left: 30px;
  &.hidden {
    display: none;
  }
}

.json-bracket {
  color: #fff;
}

.json-key {
  color: #9876AA;
}

.json-punctuation, .json-keyword, .json-boolean {
  color: #CC7832;
}

.json-number {
  color: #6897BB;
}

.json-string {
  color: #6A8769
}